In [1]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
%run ../prepare_data.py -N_users 1

In [5]:
sequence

array([[   0.,    0.,    0., ...,    0.,    0.,    1.],
       [   0.,    0.,    0., ...,    0.,    0.,    2.],
       [   0.,    0.,    0., ...,    0.,    0.,    3.],
       ...,
       [   0.,    0.,    0., ...,    0.,    0.,  297.],
       [   0.,    0.,    0., ...,    0.,    0.,  298.],
       [   0.,    0.,    0., ...,    0.,    0.,  299.]])

In [6]:
sequence.shape

(299, 82)

In [8]:
df = pd.DataFrame(sequence)

In [9]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,72,73,74,75,76,77,78,79,80,81
count,299.0,299.0,299.000000,299.0,299.0,299.0,299.0,299.000000,299.000000,299.000000,...,299.0,299.0,299.0,299.000000,299.0,299.0,299.0,299.0,299.0,299.000000
mean,0.0,0.0,0.003344,0.0,0.0,0.0,0.0,0.003344,0.020067,0.006689,...,0.0,0.0,0.0,0.003344,0.0,0.0,0.0,0.0,0.0,150.000000
std,0.0,0.0,0.057831,0.0,0.0,0.0,0.0,0.057831,0.140464,0.081649,...,0.0,0.0,0.0,0.057831,0.0,0.0,0.0,0.0,0.0,86.458082
min,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000
25%,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,75.500000
50%,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,150.000000
75%,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,224.500000
max,0.0,0.0,1.000000,0.0,0.0,0.0,0.0,1.000000,1.000000,1.000000,...,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,299.000000